[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
private_swap_programs = "6L8awnTc179Atp7sMharQ8uuBjiKjWxzfEns6qW4fkyF"
inco_token = "HmBw1FN2fXbgqyGpjB268vggBEEymNx98cuPpZQPYDZc"

[programs.devnet]
private_swap_programs = "6L8awnTc179Atp7sMharQ8uuBjiKjWxzfEns6qW4fkyF"
inco_lightning = "5sjEbPiqgZrYwR31ahR6Uk9wf5awoX61YGg7jExQSwaj"
inco_token = "HmBw1FN2fXbgqyGpjB268vggBEEymNx98cuPpZQPYDZc"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
